/* Base Element Styles
   ------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  background-color: #efe7da;
  color: #002626;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

img {
  width: 64px;
}


/* Base Layout Styles
   ------------------------- */

/* Navigation  */



/* Layout Containers */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  background-color: #002626;
  color: #efe7da;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.main-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  background-color: #e55812;
  color: #efe7da;
  border-radius: 5px;
  margin-right: 0.75rem;
  margin-bottom: 2rem;
  padding: 0.75rem;
}

/* Page Elements */

.category img {
  width: 32px;
}

.category .answered {
  visibility: hidden
}

.category .not-answered {
  width: 36px;
}

/* Media Queries
   ------------------------- */

@media screen and (min-width: 768px) {
  
  
}


/* Helper Classes
   ------------------------- */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
