/* Base Element Styles
   ------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  background-color: #f5f2ee;
  color: #010c1a;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

main {
  flex-grow: 1;
}

/* Base Layout Styles
   ------------------------- */

/* Layout Containers */

.container {
  max-width: 900px;
  margin: 2rem auto 0;
  padding: 0 1rem;
}

header,
footer {
  background-color: #1f3a45;
  color: #f5f2ee;
  box-shadow: 0 8px 6px -6px #010c1a;
}

.header-container,
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-top: 0;
}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0 0 0.75rem;
  border-bottom: 2px solid #1f3a45;
}

.category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 56px;
  background-color: #d01217;
  color: #f5f2ee;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.75rem;
  box-shadow: 0 8px 6px -6px #010c1a;
  transition: background-color 0.5s ease-out;
}

.question-container {
  font-size: 1.2rem;
  padding: 0 1.5rem;
}

footer {
  box-shadow: 0 -8px 6px -6px #010c1a;
}

.footer-container {
  justify-content: center;
}

/* Page Elements */

.logo {
  width: 48px;
}

.category img {
  width: 28px;
}

.category .answered {
  opacity: 0;
}

.category .not-answered {
  width: 32px;
}

#question {
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #1f3a45;
}

#choices {
  list-style: none;
  margin: 1.5rem 0;
}

#choices li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 56px;
  font-size: 1rem;
  background-color: #87adbc;
  margin: 0 auto 1rem;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px #010c1a;
  transition: background-color 0.3s ease-out;
}

#choices li:hover {
  cursor: pointer;
  background-color: #a9c4cf;
}

#fact {
  margin-bottom: 5rem;
  padding-top: 0.75rem;
  border-top: 2px solid #1f3a45;
}

/* Media Queries
   ------------------------- */

@media screen and (min-width: 660px) {
  
  body {
    background: url('../img/background.jpg') no-repeat center center;
    background-size: cover;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  main {
    background-color: rgba(245, 242, 238, 0.85);
  }
  
  .container {
    margin-top: 3rem;
    padding: 0 2rem;
  }
  
  .stats-container {
    padding: 0 0 0.75rem;
  }
  
  .stats {
    margin: 0 2rem;
  }
  
  .header-container,
  .footer-container {
    height: 90px;
    margin-top: 0;
  }
  
  .question-container {
    max-width: 600px;
  }
  
  .logo {
    width: 64px;
  }
  
  #choices {
    columns: 2;
    margin: 1.5rem 0 0.75rem;
  }
}

